.header__lang-link {
  justify-self: flex-end;
  margin: 0 18px 0 0;
  text-decoration: none;
  line-height: 28px;
  color: white;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
  }
}
