.place__image {
  grid-row: 2/3;
  grid-column: 2/7;
  align-self: start;
  justify-self: start;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 460px;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .place__image {
    grid-column: 1/7;
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 520px) {
  .place__image {
    grid-row: 3/4;
    grid-column: 1/13;
    justify-self: center;
    max-width: 520px;
  }
}
