.footer__link {
  display: inline-block;
  padding: 0 18px 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.3s;
}


@media screen and (max-width: 700px) {
  .footer__link {
    margin-bottom: 32px;
    padding-right: 0;
  }
}

.footer__link:hover {
  opacity: 0.8;
}
