.place__links {
  grid-row: 1/2;
  grid-column: 7/12;
  align-self: end;
  justify-self: start;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__links {
    grid-column: 7/13;
  }
}

@media screen and (max-width: 520px) {
  .place__links {
    grid-row: 2/3;
    grid-column: 1/13;
    max-width: 320px;
  }
}
