.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 92px 48px 24px;
  color: white;
}

@media screen and (width-max: 768px) {
  .footer {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
  }
}
