.place__url-heading {
  margin: 0;
  padding: 0 0 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}


@media screen and (max-width: 520px) {
  .place__url-heading {
    padding-left: 12px;
  }
}
